* {
    font-family: 'NanumGothic';
    margin: 0;
}

.label {
    display: inline-block;
    font-size: 18px;
    font-weight: 600;
    margin-left: 30px;
    width: 150px;
    vertical-align: top;
}


.document_item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 80px;
}

.document_name {
    width: 950px;
    border-bottom: 1px solid black;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.document_name a {
    text-decoration: none;
    color: black;
    font-size: 25px;
    font-weight: 600;
}

.document_item .page_title {
    width: 910px;
    padding: 10px;
    padding-left: 30px;
    background-color: #f7fbfc;
    border: 1px solid #e5e5e5;
    border-bottom: none;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.document_item .page_title h4 {
    font-size: 20px;
    float: left;
}

.document_item form {
    width: 952px;
}

.document_critical_edit {
    border: 1px solid #e5e5e5;
    width: 950px;
    background-color: #f7fbfc;
    margin-bottom: 50px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.document_bookcover_edit {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 30px;
}

.document_bookcover_edit img {
    width: 150px;
    height: 215px;
    border: 1px solid black;
}

.document_bookcover_edit label {
    margin-left: 0px;
}

.document_name_edit {
    margin-bottom: 20px;
}

.document_name_edit input {
    height: 30px;
    width: 250px;
    outline: none;
    font-size: 15px;
}

.document_author_edit {
    margin-bottom: 20px;
}

.document_author_edit input {
    height: 30px;
    width: 250px;
    outline: none;
    font-size: 15px;
}

.document_birthday_edit {
    display: flex;
    margin-bottom: 20px;
}

.document_birthday_edit .birthday_warning{
    display: flex;
    flex-direction: column;
    margin-left: 4px;
}

.document_birthday_edit input {
    width: 250px;
    height: 30px;
    font-size: 15px;
}

.document_birthday_edit .checkbox_pakage{
    margin-top: 5px;
    height: auto;
    display: flex;
}

.document_birthday_edit input[type="checkbox"] {
    width: auto;
    height: 15px;
    font-size: 15px;
}

.document_birthday_edit span {
    /* width: 250px; */
    height: 15px;
    font-size: 13px;
}

.document_publisher_edit {
    margin-bottom: 20px;
}

.document_publisher_edit input {
    height: 30px;
    width: 250px;
    outline: none;
    font-size: 15px;
}

.document_genre_edit {
    margin-bottom: 20px;
}

.document_genre_edit select {
    height: 30px;
    font-size: 15px;
}

.document_sale_edit {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.document_sale_edit .sale_name {
    margin-bottom: 20px;
}

.document_sale_edit .sale_name input {
    height: 30px;
    width: 250px;
    outline: none;
    font-size: 15px;
}

.document_sale_edit .sale_address {}

.document_sale_edit .sale_address label {
    text-align: right;
    margin-left: 5px;
    margin-right: 25px;
}

.document_sale_edit .sale_address input {
    height: 30px;
    width: 400px;
    outline: none;
    font-size: 15px;
}

.document_publishdate_edit {
    margin-bottom: 20px;
}

.document_publishdate_edit input {
    height: 30px;
    font-size: 15px;
}

.document_summary_edit {
    margin-bottom: 30px;
}

.document_summary_edit textarea {
    font-size: 15px;
    width: 700px;
    height: 200px;
    resize: none;
    outline: none;
}

.document_tag_edit{
    margin-bottom: 30px;
    display: flex;    
}

.document_tag_edit :where(li){
    display: flex;
    align-items: center;
}

.document_tag_edit .content{
    margin-left: 3px;
}

.document_tag_edit .content p{
    font-size: 15px;
}

.document_tag_edit .content ul{
    display: flex;
    flex-wrap: wrap;
    padding: 7px;
    border-radius: 3px;
    border: 1px solid rgb(172, 172, 172);
    height: 100px;
    overflow: hidden;
    overflow-y: scroll;
    width: 350px;
}

.document_tag_edit .content ul li{
    list-style: none;
    margin: 4px 3px;
    height: auto;
    max-width: 100%;
    border-radius: 5px;
    background-color: #f7fbfc;
    padding: 5px 8px 5px 10px;
    border: 2px solid black;
    word-break: break-all;
}

.document_tag_edit .content ul li span{
    height: 20px;
    width: 20px;
    cursor: pointer;
    color: #808080;
    margin-left: 8px;
    font-size: 15px;
    border-radius: 5px;
    background: rgb(227, 225, 225);
    display: flex;
    justify-content: center;
}

.document_tag_edit .content ul li span div{
    margin-top: 1px;
}

.document_tag_edit .content ul textarea{
    height: auto;
    width: 100%;
    outline: none;
    font-size: 15px;
    border: none;
    vertical-align: top;
    font-size: 16px;
    font-family: '나눔고딕';
    resize: none;
}

/* .document_tag_edit {
    margin-bottom: 30px;
}

.document_tag_edit input {
    height: 30px;
    width: 250px;
    outline: none;
    font-size: 15px;
} */

.document_other_edit {
    /*border: 1px solid #e5e5e5;*/
    margin-bottom: 20px;
}

.document_other_edit .webeditor {}

.document_other_edit .webeditor textarea {
    padding: 0;
    font-size: 15px;
    width: 950px;
    height: 500px;
    resize: none;
    outline: none;
    border: 1px solid #e5e5e5;
    border-radius: 15px;
}

.button_bundle {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.button_bundle input {
    cursor: pointer;
    padding: 10px;
    padding-left: 40px;
    padding-right: 40px;
    margin-left: 5px;
    margin-right: 5px;
    font-size: 18px;
    border: 1px solid #c7c3c3;
    color: gray;
    background-color: #fff;
}

.button_bundle a {
    text-decoration:none;
    padding: 10px;
    padding-left: 40px;
    padding-right: 40px;
    margin-left: 5px;
    margin-right: 5px;
    font-size: 18px;
    border: 1px solid #c7c3c3;
    color: gray;
    background-color: #fff;
    white-space : nowrap;
}

.button_bundle .save {
    font-weight: 600;
    color: #769fcd;
    border: 1px solid #769fcd;
    background-color: #fff;
}

.button_bundle .delete {
    color: red;
    border: 1px solid red;
    background-color: #fff;
    cursor: pointer;
}

@media (max-width:640px) {
    
    .label {
        margin-bottom: 5px;
    }
    
    .document_item {
        margin-top: 200px;
    }

    .document_name {
        width: 90%;
    }

    .document_item .page_title {
        width: 80%;
        padding-left: 5%;
        padding-right: 5%;
    }

    .document_item form {
        margin-left: -2px;
        width: 90%;
    }

    .document_critical_edit {
        width: 100%;
    }

    .document_name_edit {
        display: flex;
        flex-direction: column;
    }

    .document_name_edit input {
        margin-left: 30px;
    }

    .document_author_edit {
        display: flex;
        flex-direction: column;
    }

    .document_author_edit input {
        margin-left: 30px;
    }

    .document_birthday_edit {
        display: flex;
        flex-direction: column;
    }

    .document_birthday_edit .birthday_warning{
        margin-left: 0px;
    }

    .document_birthday_edit input {
        margin-left: 30px;
        width: 250px;
    }

    .document_birthday_edit span {
        /* margin-left: 30px;
        width: 190px; */
    }

    .document_publisher_edit {
        display: flex;
        flex-direction: column;
    }

    .document_publisher_edit input {
        margin-left: 30px;
    }

    .document_genre_edit {
        display: flex;
        flex-direction: column;
    }

    .document_genre_edit select {
        margin-left: 30px;
        width: 250px;
    }

    .document_sale_edit .sale_name {
        display: flex;
        flex-direction: column;
    }

    .document_sale_edit .sale_name input {
        margin-left: 30px;
    }

    .document_sale_edit .sale_address {
        display: flex;
        flex-direction: column;
    }

    .document_sale_edit .sale_address label {
        margin: 0;
        text-align: left;
        margin-left: 30px;
    }

    .document_sale_edit .sale_address input {
        margin-left: 30px;
        margin-right: 30px;
        width: auto;
    }

    .document_publishdate_edit {
        display: flex;
        flex-direction: column;
    }

    .document_publishdate_edit input {
        margin-left: 30px;
        width: 250px;
    }

    .document_summary_edit {
        display: flex;
        flex-direction: column;
    }

    .document_summary_edit textarea {
        margin-left: 30px;
        margin-right: 30px;
        width: auto;
        height: 400px;
    }
    
    .document_tag_edit {
        display: flex;
        flex-direction: column;
    }

    .document_tag_edit .content{
        margin-left: 30px;
        margin-right: 45px;
        width: auto;
    }

    .document_tag_edit .content ul {
        width: 100%;
    }

    .document_other_edit .webeditor textarea {
        width: 100%;

    }
}