* {
    font-family: 'NanumGothic';
    margin: 0;
}

label {
    display: inline-block;
    font-size: 18px;
    font-weight: 600;
    margin-left: 30px;
    width: 150px;
    vertical-align: top;
}


.document_item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 80px;
}

.document_name {
    width: 950px;
    border-bottom: 1px solid black;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.document_name a {
    text-decoration: none;
    color: black;
    font-size: 25px;
    font-weight: 600;
}

.document_item .page_title {
    width: 910px;
    padding: 10px;
    padding-left: 30px;
    background-color: #f7fbfc;
    border: 1px solid #e5e5e5;
    border-bottom: none;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.document_item .page_title h4 {
    font-size: 20px;
    float: left;
}

.document_item form {
    width: 952px;
}

.document_critical_edit {
    border: 1px solid #e5e5e5;
    width: 950px;
    background-color: #f7fbfc;
    margin-bottom: 50px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.document_profile_image_edit {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 30px;
}

.document_profile_image_edit img {
    width: 150px;
    height: 215px;
    border: 1px solid black;
}

.document_profile_image_edit label {
    margin-left: 0px;
}

.document_name_edit {
    margin-bottom: 20px;
}

.document_name_edit input {
    height: 30px;
    width: 250px;
    outline: none;
    font-size: 15px;
}

.document_native_edit {
    margin-bottom: 20px;
}

.document_native_edit input {
    height: 30px;
    width: 250px;
    outline: none;
    font-size: 15px;
}


.document_publishdate_edit {
    margin-bottom: 20px;
}

.document_publishdate_edit input {
    height: 30px;
    font-size: 15px;
}


.document_debutdate_edit {
    margin-bottom: 20px;
}

.document_debutdate_edit input {
    height: 30px;
    font-size: 15px;
}

.document_main_novel_edit {
    margin-bottom: 20px;
}

.document_main_novel_edit input {
    height: 30px;
    width: 250px;
    outline: none;
    font-size: 15px;
}

.document_school_edit {
    margin-bottom: 20px;
}

.document_school_edit input {
    height: 30px;
    width: 250px;
    outline: none;
    font-size: 15px;
}

.document_company_edit {
    margin-bottom: 20px;
}

.document_company_edit input {
    height: 30px;
    width: 250px;
    outline: none;
    font-size: 15px;
}

.document_tag_edit {
    margin-bottom: 30px;
}

.document_tag_edit input {
    height: 30px;
    width: 250px;
    outline: none;
    font-size: 15px;
}


.document_other_edit {
    /*border: 1px solid #e5e5e5;*/
    margin-bottom: 20px;
}

.document_other_edit .webeditor {}

.document_other_edit .webeditor textarea {
    padding: 0;
    font-size: 15px;
    width: 950px;
    height: 500px;
    resize: none;
    outline: none;
    border: 1px solid #e5e5e5;
    border-radius: 15px;
}

.button_bundle {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.button_bundle input {
    cursor: pointer;
    padding: 10px;
    padding-left: 40px;
    padding-right: 40px;
    margin-left: 5px;
    margin-right: 5px;
    font-size: 18px;
    border: 1px solid #c7c3c3;
    color: gray;
    background-color: #fff;
}

.button_bundle a {
    text-decoration: none;
    padding: 10px;
    padding-left: 40px;
    padding-right: 40px;
    margin-left: 5px;
    margin-right: 5px;
    font-size: 18px;
    border: 1px solid #c7c3c3;
    color: gray;
    background-color: #fff;
    white-space: nowrap;
}

.button_bundle .save {
    font-weight: 600;
    color: #769fcd;
    border: 1px solid #769fcd;
    background-color: #fff;
}

.button_bundle .delete {
    color: red;
    border: 1px solid red;
    background-color: #fff;
}

@media (max-width:640px) {
    label {
        margin-bottom: 5px;
    }

    .document_item {
        margin-top: 200px;
    }

    .document_name {
        width: 90%;
    }

    .document_item .page_title {
        width: 80%;
        padding-left: 5%;
        padding-right: 5%;
    }

    .document_item form {
        margin-left: -2px;
        width: 90%;
    }

    .document_critical_edit {
        width: 100%;
    }

    .document_name_edit {
        display: flex;
        flex-direction: column;
    }

    .document_name_edit input {
        margin-left: 30px;
    }

    .document_native_edit {
        display: flex;
        flex-direction: column;
    }

    .document_native_edit input {
        margin-left: 30px;
    }

    .document_publishdate_edit {
        display: flex;
        flex-direction: column;
    }

    .document_publishdate_edit input {
        margin-left: 30px;
        width: 250px;
    }

    .document_debutdate_edit {
        display: flex;
        flex-direction: column;
    }

    .document_debutdate_edit input {
        margin-left: 30px;
        width: 250px;
    }
    
    .document_main_novel_edit {
        display: flex;
        flex-direction: column;
    }

    .document_main_novel_edit input {
        margin-left: 30px;
    }
    
    .document_school_edit {
        display: flex;
        flex-direction: column;
    }

    .document_school_edit input {
        margin-left: 30px;
    }
    
    .document_company_edit {
        display: flex;
        flex-direction: column;
    }

    .document_company_edit input {
        margin-left: 30px;
    }

    .document_tag_edit {
        display: flex;
        flex-direction: column;
    }

    .document_tag_edit input {
        margin-left: 30px;
    }

    .document_other_edit .webeditor textarea {
        width: 100%;

    }
}