* {
    font-family: 'NanumGothic';
}

.header {
    z-index: 100;
    position: fixed;
    margin: 0;
    top: 0;
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #769FCD;
    box-shadow: 0px 0px 5px 0px gray;
}

.header a {
    text-decoration: none;
    color: black;
}


.header .logo_a {
    display: flex;
    flex-direction: row-reverse;
    height: 50px;
}

.logo {
    height: 30px;
    margin-left: -10px;
}

.logo_icon {
    margin-left: 10px;
    height: 50px;
    margin-top: 0px;
}

.logo_icon:hover {
    background-image: url(../image/logo2.png);
    background-repeat: no-repeat;
    background-size: 145px;
    background-position: center;
}



.first_line {
    display: flex;
    width: 100%;
    justify-content: flex-end;
}

.bar_menu {
    display: flex;
    list-style: none;
    padding-left: 0;
    margin: 0;
}

.bar_menu li {
    margin-left: 10px;
    margin-right: 10px;
    padding: 8px 12px;
    font-weight: bold;
}

.bar_menu li:hover {
    background-color: snow;
    border-radius: 10px;
}


.header .mypage_header{
    display: flex;
    justify-content: center;
    width: 80px;
}

.search {
    position: relative;
    width: 35px;
    height: 35px;
    background: #fff;
    border-radius: 25px;
    border: 2px solid #769FCD;
    overflow: hidden;
    margin-top: 3px;
}

.search.active {
    width: 360px;
    transition: 0.5s;
}

.search .icon {
    position: absolute;
    width: 35px;
    height: 35px;
    border-radius: 25px;
    background: #fff;
    background-image: url(../image/search.png);
    background-size: 20px;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 1;
    cursor: pointer;
}

.search .icon.active {
    background-image: url(../image/close.png);
    background-size: 25px;
}

.search .input {
    position: relative;
    width: 60%;
    height: 20px;
    left: 60px;

}

.search .input input {
    position: absolute;
    border: none;
    outline: none;
    font-size: 16px;
    padding: 8px 0;
    width: 100%;
}

.clear {
    position: absolute;
    right: 0px;
    width: 20px;
    height: 20px;
    transform: translateY(-50%);
    cursor: pointer;
    margin-right: 30px;
}

.clear::before {
    position: absolute;
    content: '';
    width: 1px;
    height: 15px;
    background: #999;
    transform: rotate(45deg);
}

.clear::after {
    position: absolute;
    content: '';
    width: 1px;
    height: 15px;
    background: #999;
    transform: rotate(315deg);
}

.search_btn{
    position: absolute;
    right: 0;
    width: 35px;
    height: 35px;
    background: #fff;
    background-image: url(../image/search.png);
    background-size: 20px;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    margin-top: -20px;
    margin-right: 5px;
    border: none;
}

.header .set {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar_toggleBtn {
    display: none;
    /*position: absolute;
            right: 32px;*/
    /*font-size: 24px;*/
    /*color: orange;*/
}

.navbar_toggleBtn img {
    width: 50px;
}

@media screen and (max-width:640px) {

    .header {}

    .logo {
        position: relative;
        margin: 0px;
        /*margin-left: -10px;
        margin-top: 10px;*/
    }

    .header .logo_a {
        height: 50px;
        z-index: 5;
        /*margin-top: 40px;*/
    }

    .logo_icon {
        margin-top: 5px;
    }

    .first_line {
        margin-top: -45px;
    }

    .inner_item {
        display: flex;
        flex-direction: row;
    }

    .inner_item.active {
        width: 100%;
        flex-direction: column;
        align-items: flex-end;
    }

    .inner_inner_item {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .inner_inner_item.active {
        order: 4;
    }

    .header {
        height: auto;
    }

    .search {
        order: 1;
        margin-bottom: 10px;
        margin-top: 10px;
    }

    .search.active {
        width: 90%;
    }

    .search .icon {
    }

    .bar_menu {
        display: none;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .navbar_toggleBtn {
        order: 2;
        display: block;
        margin-right: 5px;
        margin-top: 5px;
    }

    @keyframes fadeDown {
        0% {
            transform: translateX(25%);
        }
    }

    .bar_menu li:hover {
        background-color: #a3c4e8;
        border-radius: 0px;
    }

    .bar_menu.active {
        display: flex;
        flex-direction: column-reverse;
        animation: fadeDown 0.75s;
        /*transition: 1.30s;*/
    }

    .bar_menu li {
        width: 100%;
        text-align: center;
        border-top: 1px solid lightgray;
    }
    
    .header .mypage_header{
        width: 100%;
    }
    
    .bar_menu li:nth-last-child(1) {
        width: 100%;
        text-align: center;
        border: none;
    }

    .header {
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }


    .header .set {
        position: fixed;
        top: 65px;
        right: -47%;
        overflow: auto;
        width: 45%;
        padding: 0;
        height: 100%;
        box-sizing: border-box;
        transition: right .3s ease-in-out;
        background-color: #f7fbfc;
        justify-content: normal;
        align-items: normal;
        box-shadow: 3px 8px 10px 5px rgba(80, 80, 80, 0.2);
        /*border-left: 1px solid #e5e5e5;*/
    }

    .header .set.active {
        right: 0;
    }

    .header .set.search_active {
        top: 123px;
    }

    .header .set_mid {
        width: 100%;
    }
}