html, body{
    height: 100%;
}

* {
    padding: 0;
    margin: 0;
    font-family: 'NanumGothic';
}

li {
    list-style: none;
}


a {
    text-decoration: none;
}


button {
    cursor: pointer;
}


.check_html {
    height: 100%;
}

.check_body {
    height: 100%;
    /*background-color: #769FCD;*/
}


.check_section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100%;
}

.checkbox {}

.checkbox h2 {
    text-align: center;
    margin-bottom: 10px;
    margin-top: 100px; /*23.04.01 추가 */
    font-size: 32px;
    font-weight: bold;
    /*제목 "비밀번호 재확인" 글씨 굵기 */
}

.checkbox form {
    display: block;
    width: 100%;
    height: 450px;
    background-color: #fff;
    box-sizing: border-box;
}

.check_area {
    width: 350px;
    padding: 60px;
    border: 1px solid #bebebe;
    border-radius: 10px;
}

.checkbox fieldset {}

/*.loginbox legend {
    position: absolute;
    left: -999em;
}*/

.checkbox label {
    /*display: block;*/
    font-size: 12px;
    color: #333;
    margin-bottom: 10px;
    font-weight: bold;
}

.checkbox input {
    display: block;
    width: 100%;
    height: 50px;
    margin-bottom: 25px;
    border: none;
    border: 1px solid #e5e5e5;
    background-color: white;
    padding: 0px 20px;
    box-sizing: border-box;
    outline: none;
}

.checkbox li:last-child {
    border-left: 1px solid #333;
    padding-left: 10px;
    margin-left: 4px;
}

.checkbox a {
    color: #333;
    font-size: 12px;
    position: relative;
    top: -2px;
}

.checkbox button {
    display: block;
    width: 220px;
    height: 50px;
    margin: 0 auto;
    border: none;
    border: 1px solid #e5e5e5;
    background-color: #769FCD;
    border-radius: 10px;
    color: white;
    font-size: 14px;
    font-weight: bold;
}

@media screen and (max-width:640px) {

    .check_section {
        /*width: 100%;
        align-items: normal;*/
    }

    .checkbox {
        width: 70%;
        margin-left: -90px;
        margin-top:100px;
    }
    .check_area {
        padding: 45px;
        width: 100%;
    }
    
    .checkbox h2 {
    margin-left: 90px
}
}