* {
    font-family: 'NanumGothic';
    margin: 0;
}


.user_modify {
    width: 850px;
    height: auto;
    margin: 0 auto;
}

.mypage {
    /* "나의 정보" */
    width: 100%;
    border-bottom: 1px solid black;
    display: flex;
    text-align: center;
    justify-content: end;
    margin-top: 150px;
    padding-bottom: 10px;
    font-weight: 600;
    font-size: 40px;
}

.user_modify .space {
    display: flex;
    justify-content: center;
}

.modify {
    font-size: 20px;
}

.user_modify .space2 {
    /*회원정보 수정 */
    display: flex;
    justify-content: flex-end;
    left: 86%;
    margin-top: 10px;
    margin-bottom: 10px;
    right: 50%;
}

.mid {
    margin-top: 30px;
}

.h2 {
    /* 회원가입 제목 */
    width: 100%;
    height: 100px;
    line-height: 150px;
    text-align: center;
    font-size: 25px;
}

.user_modify form {
    /*회원가입 칸 */
    bottom: 10px;
    width: 100%;
    background-color: white;
    box-sizing: border-box;
    border-radius: 10px;
    border: 1px solid #bebebe;
    margin-bottom: 10px;
}

.mid {
    width: 100%;
    position: relative;
    border: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.label {
    display: block;
    font-size: 13px;
    color: black;
    margin-top: 10px;
    margin-bottom: 10px;
}

.id {
    width: 65%;
}

.password {
    width: 65%;
}

.password2 {
    width: 65%;
}

.name {
    width: 65%;
}

.nickname {
    width: 65%;
    margin-bottom: 10px;
}

.email {
    width: 65%;
    display: flex;
    flex-direction: column;
}

.setting {
    display: flex;
    width: 100%
}

.birthday {
    /* 생년월일 + 달력 */
    width: 65%;
    margin-bottom: 30px;
}

.phone {
    width: 65%;
}

.first {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 90%;
    margin-bottom: 30px;
}

.first input {
    /* 아이디, 비밀번호, 비밀번호 재확인 입력칸 */
    position: relative;
    display: flex;
    width: 100%;
    height: 50px;
    border: solid 1px #e5e5e5;
    padding: 0px 20px;
    box-sizing: border-box;
    outline: none;
}

.first #signupid {
    background-color: #e5e5e5;
}

.second {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 90%;
}

.second input {
    /* 이름, 이메일, 생일 입력칸 */
    display: flex;
    width: 100%;
    height: 50px;
    border: solid 1px #e5e5e5;
    background-color: white;
    padding: 0px 20px;
    box-sizing: border-box;
    outline: none;
}

.second #signupname {
    background-color: #e5e5e5;
}

.second #userBirthday {
    background-color: #e5e5e5;
}

.third {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 90%;
}

.email input {
    display: flex;
    width: 60%;
    height: 50px;
    border: solid 1px #e5e5e5;
    background-color: white;
    padding: 0px 20px;
    box-sizing: border-box;
    outline: none;
}

.email select {
    /*이메일 선택*/
    display: flex;
    width: 40%;
    height: 50px;
    border-radius: 0px;
    outline: none;
    border: 1px solid #e5e5e5;
}

.block {
    width: 65%;
    margin-top: 7px;
    display: flex;
    justify-content: flex-end;
}

.block2 {
    width: 65%;
    margin-top: 7px;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 30px;
}

.birthday input {
    /*display: flex;*/
    /*right: 114px;*/
}

.phone input {
    display: flex;
    width: 100%;
    height: 50px;
    border: solid 1px #e5e5e5;
    background-color: white;
    padding: 0px 20px;
    box-sizing: border-box;
    outline: none;
}

.pwc_userm a {
    color: #333;
    font-size: 12px;
    position: relative;
    top: -2px;
}

.gender {
    width: 65%
}

.gender input[type=radio] {
    display: none;
}

.gender input[type=radio] + label {
    display: inline-block;
    height: 30px;
    width: 50%;
    border: solid 1px #e5e5e5;
    background-color: #e5e5e5;
    line-height: 30px;
    text-align: center;
    font-size: 15px;
    /*margin-bottom: 15px;*/
    margin-right: -9px;
}

/*
.gender input[type=radio] + label {
    background-color: #ededed;
    color: #333;
}
*/

.gender input[type=radio]:checked + label {
    background-color: #769fcd;
    color: white;
}

.buttons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
}

.clear {
    margin: 3px;
    justify-content: center;
}

.back {
    margin: 3px;
    justify-content: center;
}

.buttons button {
    cursor: pointer;
    width: 150px;
    height: 50px;
    margin-top: 15px;
    margin-left: 15px;
    margin-bottom: 15px;
    border: none;
    background-color: #769FCD;
    color: white;
    font-size: 16px;
    border-radius: 10px;
}


@media screen and (max-width: 640px) {
    .user_modify {
        width: 90%;
    }

    .user_modify .second {
        width: 100%;
    }

    .mypage {
        font-size: 30px;
    }

    .modify {
        font-size: 15px;
    }

    /*.buttons {
        left: 22%;
    }
*/
    .block2 {
        width: 65%;

    }

    .first {
        width: 100%;
        height: 100%;
    }

    .second {
        width: 100%;
        height: 100%;
    }

    .third {
        width: 100%;
        height: 100%;
    }

    .gender {
        width: 65%;
    }

    .email input {
        width: 50%;

    }

    .email select {
        width: 50%
    }

    .signup {
        width: 100%;
    }

    .first input {
        /* 아이디, 비밀번호, 비밀번호 재확인 입력칸 */
        width: 100%;

    }
}
/*
fieldset {
    width: 100%;
}

.buttons {
    width: 60%;
}*/
